.drug-head{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin:10px;
    color:black;
}
.drug-main-first p {
    cursor: pointer;
    text-decoration: none; /* Remove underlines */
    padding: 10px 15px; /* Add some padding for better spacing */
    border-radius: 5px; /* Optional: rounded corners */
}
#authority-dash-id{
    padding-top: 100px;
}
.drug-main-first p:hover {
    background-color: #8d8c8c; /* Change background on hover */
    /* color: #000; Optional: change text color on hover */
}
.active-tabauth{
    padding: 5px;
   background-color: rgba(58, 58, 58, 0.906);
   color: rgb(255, 255, 255);
   font-weight: bold;
    border-bottom: 3px solid #000; /* Customize the border style */
    padding-bottom: 5px;
 }
.drug-main-first {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 1.2rem;
    padding: 10px 20px; /* Add some padding to the navbar */
    align-items: center;
    margin: 10px;

}
.drug-main{
    background-color: #f0f0f0; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}