  .farmer-sign-head1{
    display: flex;
    justify-content: center;
   margin-top: 40px;
  }
  .farmer-sign-head2{
      padding-left: 70px;
      padding-right: 70px;
      background-color: gray;
      width:640px;
  }

  .farmer-sign-container {
    width: 700px;
    margin: 40px auto;
    margin-top: 0;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .farmer-sign-para{
    margin-bottom: 20px;
  font-weight: bold ;
  font-size: 30px;
    margin-bottom: 0;
   text-align: center;
  }

  .farmer-sign-label {
    display: block;
    margin-bottom: 0;
    font-weight: bold;
    color: #333;
  }
   
  .farmer-sign-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #746060;
    border-radius: 5px;
  }
  
  .farmer-sign-input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .farmer-sign-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .farmer-sign-button:hover {
    background-color: #3e8e41;
  }
  
   .farmer-sign-error{
    color:red;
   }
   .farmer-flex{
      display: flex;
      flex-direction: row;
      padding-top: 90px;
   }
   #farmer-login-pic{
    height:90vh;
    width:30vw;
    position: fixed;
   }
   #farmer-sign-id{
    padding-left: 600px;
   }
   
  