/* @import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Protest+Guerrilla&display=swap'); */

.home-head {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  height: 90px;
  align-items: center;
  position: fixed;
  width: 100vw;
  font-weight: 400;
  /* background-color: #48929e; */
  /* background-color: #2c786c; */
  /* background-color: #118a7e; */
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.home-name {
  /* color: rgba(0, 0, 0, 0.763); */
  color:rgb(10, 84, 10);
  font-size: 1.8rem;
  cursor: pointer;
  font-family: "Cust-Atmospheric";
}
.home-img {
  background-image: url("../../assets/logos.jpg");
  /* background-size:cover; */
  background-size: cover; /* Ensures the whole image is visible */
  background-repeat: no-repeat;
  border: 1px solid white;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  height: 100%;
  width: 100%;
}
.home-first {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40vw;
  height: 100%;
}
.heads-login {
  /* background-color: rgb(12, 192, 75); */
  background-color: rgb(10, 84, 10);
  color:white;
  margin-right: 30px;
  height: 50px;
  width: 80px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.heads-signup{
  /* background-color: rgb(12, 192, 75); */
  background-color: rgb(10, 84, 10);
  color:white;
  margin-right: 30px;
  height: 50px;
  width: 80px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.heads-login:hover, .heads-signup:hover {
  background-color:rgb(21, 106, 21) ;
}
.outer-img {
  height: 85%;
  width: 82px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  margin: 10px;
  border-radius: 55%;
  /* border: 10x solid white; */
}

.profile {
  margin-right: 50px;
  border-radius: 50%;
  padding: 5px;
  width: 60px;
  height: 60px;
  object-fit:contain;
  border: 2px solid #ccc;
  background-color: black
}
