.home-censor-img
{
    background-image: url('../../assets/abusecensor.jpg');
    height:100px;
    background-size: cover; /* Ensures the whole image is visible */
  background-repeat: no-repeat;
  border:2px solid black;
  width:100px;

}
.home-censor-text h3{
    margin-bottom: 0px;
}
.home-censor{
    border:2px solid black;
    display:flex;
    max-width: 1000px;
    justify-content: space-between;
    margin:auto;
    border-radius: 10px;
    padding:10px;
    margin-bottom: 10px;
}
.home-censor-tdiv{
    display: flex;
    align-items: center;
    gap:20px;
}
.home-censor-btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

.home-censor-btn:hover {
    background-color: darkgreen;
}