body{
    background-color: white;
    padding:0px;
    margin:0px;
    border:none;
}
.home-head{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    color:black;
    align-items: center;
}
.home-two-main div:hover{
    background-color:  rgb(20, 103, 219);
     transform:scale(1.1);
     cursor: pointer;
    color:white;
}
/* main section */
.home-two-main{
    min-height: 500px;         
    max-height: 1000px;
    margin-top:10px;
    display:grid;
    position: relative;
    bottom: 40px;
   grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
   gap:15px;
   justify-content: center;
   color:black;
   align-items: center;
   justify-items: center;

    
}
 .home-two-farmer,.home-two-doctor{
    display:flex;
    flex-direction: column;
    align-items: center;
     width:400px;
    border-radius: 25px;
    height:350px;
    box-shadow: 0px 4px 10px  rgba(14,78,165,1); 
    margin:10px;
    transition: transform 0.4s ease;
}
#home-two-img1{
    margin-top: 20px;
    height: 150px;
    border-radius:50%;
}
#home-two-img2{
    margin-top: 20px;
    height: 150px;
    border-radius: 50%;
}

#home-two-signin
{
    border:none;
    width:90px;
    height:50px;
    font-weight: bold;
    background-color: rgba(14,78,165,1);
    color:white;
    border-radius: 10px;
    cursor: pointer;
}
#home-two-signin:hover{
    background-color:black;
}
#home-two-login
{
    border:none;
    width:90px;
    height:50px;
    font-weight: bold;
    color:rgb(1, 0, 0);
    border-radius: 10px;
    margin-top:10px;
    margin-bottom:20px;
    cursor: pointer;
}
#home-two-login:hover{
    color:white;
    background-color: black;
}
.home-two-faq{
    color:black;
}
.home-two-chatbot{
    color:black;
}

#type-title{
    font-family: 'RobotoMono-Bold';
    font-size: 1.3rem;
}