.mis-content{
    height:400px;
    width:600px;
  border:2px solid black;
  border-radius: 20px;
  display:flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  
}
.mis-main{
    height:70vh;
    width:100%;
   display:flex;
   justify-content: center;
   align-items: center;
}
.mis-input{
    width:30rem;
    height:70px;
}
.mis-res p{
  margin:0px;
}
.mis-btn{
  width:100px;
  height:30px;
  cursor: pointer;
}