.trending-main{
    width:100%;
    height:fit-content;
    display: flex;
  flex-direction: column;
  align-items: center;
  
}
.trending-head{
    
    display: flex;
    justify-content:space-around;
    gap:50px;
    width: 400px;
}
.trending-head p{
    cursor: pointer;
}
.trending-hero{
    margin-top:100px;
}

.raise {
    /* background-color: rgb(12, 192, 75); */
    background-color: rgb(16, 128, 16);
    color:white;
    margin-right: 30px;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }