/* font family GLOBAL Declarations */
@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* Global All titles*/
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* Home 1 Usertype */
  font-family: "RobotoMono-Bold";
  src: url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* only for  logo */
  font-family: "Cust-Atmospheric";
  src: url("../fonts/aAtmospheric.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* only for FAQs */
  font-family: "SourceSansPro";
  src: url("../fonts/aAtmospheric.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* only for FAQs */
  font-family: "CursiveStyledMN";
  src: url("../fonts/Pacifico-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Poppins-Medium";
}
